<div class="editing-section">
  <h2>Editing</h2>
  <div class="content">
    
    <div class="form-urls">
      <ul class="url-list">
        <li *ngFor="let formData of formUrls" class="url-item">
          <div class="url-info">
            <span class="form-name" (click)="openForm(formData.url)">{{ getFormName(formData) }}</span>
            <span class="url-text">{{ formData.url }}</span>
          </div>
          <button class="remove-btn" (click)="removeUrl(formData.url)" title="Remove URL">
            &times;
          </button>
        </li>
      </ul>
    </div>
  </div>
</div>
