<div class="editing-section">
<div class="content">
<div class="form-urls">
  <div class="url-list">
    <div *ngFor="let formData of formUrls" class="url-item">
      <div class="url-info" (click)="openForm(formData.url)">
        <div #titleElement class="form-name" [title]="isTitleTruncated(formData, titleElement) ? getOriginalFormName(formData) : ''">{{ getFormName(formData) }}</div>
        <div class="form-date">{{ getFormattedDate(formData.timestamp) }}</div>
      </div>
      <img src="assets/trash.svg" class="trash-icon" (click)="removeUrl(formData.formId)">
    </div>
  </div>
</div>
</div>
</div>
